/*  || DECLARE OUTFIT FONT */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/outfit/outfit-v15-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/outfit/outfit-v15-latin-700.woff2")
    format("woff2");
}


/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}


/* || VARIABLES */
:root {

  /* COLORS */
   --white-color: hsl(0, 0%, 100%);
   --slate-300-color: hsl(212, 45%, 89%);
   --slate-500-color: hsl(216, 15%, 48%);
   --slate-900-color: hsl(218, 44%, 22%); 
   --shadow-color: rgba(0, 0, 0, 0.05);
   --blue-color: hsl(228, 45%, 44%);


   /* SHADOWS */
   --box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);

   /* FONTS */
   --outfit-font: "Outfit", sans-serif;
   --font-size:  1rem;
}

html {
  font-family: var(--outfit-font);
  background-color: var(--slate-300-color);
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 2vw, 2rem);
  min-height: 96vh;
}

.card {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 20rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}


.card__image {
  border-radius: 0.625rem;
  width: 100%;
}

.card__title {
  color: var(--slate-900-color);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.157;
  margin-inline: 1.2rem;
  margin-block-start: 1.8rem;
}

.card__text {
  color: var(--slate-500-color);
  font-weight: 400;
  font-size: 0.9375rem;
  margin-inline: 1.3rem;
  margin-block: 1rem;
  display: block;
  line-height: 1.5;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center;
}
    
.attribution--link { 
  color: var(--blue-color); 
}


