* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --white: hsl(0, 0%, 100%);
   --slate-300: hsl(212, 45%, 89%);
   --slate-500: hsl(216, 15%, 48%);
   --slate-900: hsl(218, 44%, 22%); 
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
}


.card__image {
  border-radius: 10px;
  width: 100%;
  display: block;
}

.card__title {
  color: var(--slate-900);
  font-weight: 700;
  font-size: 22px;
  margin: 1.5rem 0 1rem;
}

.card__text {
  color: var(--slate-500);
  font-weight: 400;
  font-size: 15px;
  margin: 0 1rem 1.5rem
}

.card__attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 1rem;
}
    
.card__attribution--link { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 480px) {
  body {
    padding: 0;
  }
}

